<template>
        <div> <img @click="favoritePost" class="pr-2 favoriteButton" v-bind:src="urlPath"><span>{{ this.dataCount }}</span></div>
</template>

<script>
    export default {

    	props: ['favorite', 'postId', 'count'],

    	data: function() {
    		return {
    			status: this.favorite,
                dataCount: this.count
    		}
    	},
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
        	favoritePost(){
        		axios.post('/favorite/' + this.postId)
        			.then(response => {
                        console.log(this.dataCount)
        				this.status = ! this.status;
                        this.status ? this.dataCount++ : this.dataCount--;
        			})
        			.catch(errors => {
        				const response = errors.response
        				if (response.status == 401) {
        					window.location = '/login';
        				}
        			});
        	}
        },
        computed: {
        	urlPath() {
        		return this.status ? '/svg/favorited.svg' : '/svg/favorite.svg';
        	}
        }
    }
</script>
